# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [4]:
print("Hello",12,True,12.1)

Hello 12 True 12.1

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [6]:
print("My","Name","Is","Tayyab" ,sep="-")

My-Name-Is-Tayyab

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [16]:
print("Tayyab",end=" ")
print(123,end=" ")
print(True,end=" ")
print(12.3)

Tayyab 123 True 12.3

4) Can a python print function take no value to print???

### yes

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [13]:
friends_name = 'Mr. Ahmed'
friends_age_year = 30
friends_profession = 'lawer'
bachelors_degree = 'law'
degree_passedout = 2005
currently_working = 'The Himalya Associates'
joining_year = 2015
friends_height_feet = 5.10
weight_gram = 70600
monthly_wage_pkr = 220000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [15]:
current_year = 2024
how_many = current_year - degree_passedout
print(f'Mr.Ahmed passed his degree before {how_many} years ago')

Mr.Ahmed passed his degree before 19 years ago

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [19]:
experience = current_year - joining_year
print(f"Mr. Ahmed has total work of experience is {experience} years")

Mr. Ahmed has total work of experience is 9 years

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [17]:
income_dlr = monthly_wage_pkr/278
print(f"Mr. Ahmed's income in dollar was ${income_dlr}")

Mr. Ahmed's income in dollar was $791.3669064748201

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [31]:
if type(income_dlr) == float:
    print(f'income in int {int(income_dlr)}')
else:
    print(f'income in float {float(income_dlr)}')

income in int 791

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [35]:
weight_kg = weight_gram//1000
print(weight_kg)

70

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

No